<h1>Contest Information</h1>

<%= link_to 'New Player', new_contest_player_path(@contest) %>

<p><%= @contest.name %></p> 
<p><%= link_to @contest.user.username, @contest.user.username %></p>
<p><%= @contest.description %></p>
<p><%= link_to @contest.referee.name, @contest.referee.name %></p>
<p><%# @contest.referee.name %></p>
<p><%= @contest.contest_type %></p>

